---
import { AsyncPlayground } from "../components/react-pages/playground";
import versions from "@site/playground-versions.json";

import { LoadingSpinner } from "../components/playground-component/loading-spinner";
import BaseLayout from "../layouts/base-layout.astro";

const latestVersion = versions[0];
---

<script>
  import "es-module-shims";
</script>
<!-- cspell:ignore esms -->
<script
  is:inline
  type="esms-options"
  set:html={JSON.stringify({
    shimMode: true,
  })}
/>
<BaseLayout footer={false}>
  <div style={{ height: "calc(100vh - var(--header-height))", width: "100%" }}>
    <AsyncPlayground client:only="react" latestVersion={latestVersion}>
      <LoadingSpinner slot="fallback" message="Loading playground..." />
    </AsyncPlayground>
  </div>
</BaseLayout>
