---
import { baseUrl } from "@site/src/utils";
import LearnMoreCard from "../components/learn-more-card.astro";
import LightDarkImg from "../components/light-dark-img.astro";
import ShowcaseLayout from "@site/src/layouts/showcase.astro";
import Section from "../components/section.astro";
import SectionedLayout from "../components/sectioned-layout.astro";
import UseCaseOverview from "../components/use-case-overview.astro";
import { Links } from "../constants";
import FormatterIllustration from "@site/src/components/illustrations/formatter.astro";
---

<ShowcaseLayout>
  <SectionedLayout>
    <UseCaseOverview
      title="Syntax highlighting, autocomplete, formatting, and more"
      subtitle="TypeSpec is supported by a variety of readily available tools, designed to boost your productivity right from the start."
      link={Links.editor.home}
      ><LightDarkImg src="illustrations/ide-hero" slot="illustration" /></UseCaseOverview
    >
    <Section
      header="Style consistency"
      title="Built-in formatter"
      description="TypeSpec provides an opinionated formatter that enables you to enforce a consistent style in your codebase."
    >
      <FormatterIllustration slot="illustration" />
      <LearnMoreCard
        title="Formatter usage"
        description="See documentation on how to use the formatter."
        image="text-edit"
        link={Links.tooling.formatter}
      />
    </Section>
    <Section
      layout="text-right"
      header="Warning"
      title="Warning and errors"
      description="Errors and warnings in your spec are reported as you type."
    >
      <LightDarkImg src="illustrations/warnings-and-errors" slot="illustration" />
      <LearnMoreCard
        title="Extension installation"
        description="See documentation on how to install editor extensions."
        image="text-edit"
        link={Links.editor.home}
      />
    </Section>
    <Section
      header="Intellisense"
      title="Autocomplete and more"
      description="IntelliSense shows you intelligent code completion, hover information, and signature help so that you can quickly and efficiency write correct code."
      ><LightDarkImg src="illustrations/autocomplete" slot="illustration" /></Section
    >
    <Section
      layout="text-right"
      header="Refactor"
      title="Bulk renaming"
      description="One of the simplest forms of refactoring is renaming a reference. Rename an identifier and see all of its references updated across your TypeSpec project."
    >
      <video
        src={baseUrl("/img/illustrations/refactor.mp4")}
        autoplay
        loop={true}
        slot="illustration"></video>
    </Section>
  </SectionedLayout>
</ShowcaseLayout>
