.current-path {
  overflow-y: auto;
  border: 1px solid var(--colorNeutralStroke1);
}

.current-path.focus {
  border-bottom: 1px solid var(--colorBrandForeground1);
}
.breadcrumb-search {
  width: 100%;
  border-radius: 0 !important;
  border: none !important;
}

.breadcrumb-search::after {
  border: none !important;
}

.option {
  padding: 2px 4px !important;
}

.option .doc {
  color: var(--colorNeutralForeground4);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  min-width: 0;
  flex: 0 1 auto;
  overflow: hidden;
}

.flex-gap {
  flex: 1;
}

.search-placeholder {
  color: var(--colorNeutralForeground4);
  font-size: 12px;
  margin: 5px;
  text-wrap: nowrap;
}
