body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: content-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#grid > .footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  background-color: #007acc;
  display: flex;
  font-size: 14px;
}

#grid > .footer.in-pr {
  background-color: #ce662a;
}

#grid > .footer > .item {
  text-decoration: none;
  color: #fefefe;
  border-right: 1px solid #d5d5d5;
  padding: 0 5px;
}
#grid > .footer > a.item:hover {
  background-color: #063a5c;
}
#grid > .footer.in-pr > a.item:hover {
  background-color: #b46e45;
}

#commandBar > * {
  padding: 2px 2px;
}

#editorContainer {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
}

#editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.output-panel {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c5c5c5;
}

.output-tabs {
  display: flex;
  border-bottom: 1px solid #c5c5c5;
}

.output-tabs a {
  height: 26px;
  padding: 0 5px;
  border-right: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.output-tabs a.active {
  font-weight: bold;
  background-color: #eee;
}

.output-tabs .middle-spacer {
  flex: 1;
  border-right: 1px solid #ccc;
}

.output-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.monaco-editor-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swagger-ui-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.type-graph-container {
  height: 100%;
  overflow: scroll;
}

.error-tab-count {
  background-color: #cc2222;
  color: #f5f5f5;
  padding: 0 5px;
  border-radius: 20px;
}

.diagnostic-list {
  height: 100%;
  overflow: auto;
}

.diagnostic-item {
  display: flex;
}
.diagnostic-item-severity {
  padding: 0 5px;
}
.diagnostic-item-severity.error {
  color: #cc2222;
}
.diagnostic-item-severity.warning {
  color: orange;
}
.diagnostic-item-code {
  padding: 0 5px;
  color: #333333;
}
.diagnostic-item-message {
  padding: 0 5px;
}

.center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.internal-server-error {
  border: 1px solid #cc2222;
  padding: 10px;
  margin: 20px;
}

.output-dropdown {
  margin: 0.5rem 1.5rem;
  position: absolute;
  z-index: 1;
  right: 0;
}
