body {
  font-family: "Roboto", sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #dedede;
}

th,
td,
caption {
  border: 1px solid #dedede;
}

.group {
  border: 1px solid #c5c5c5;
  padding: 1rem;
}

.section {
  border: 1px solid #c5c5c5;
}

.section > .section-title {
  border-bottom: 1px solid #c5c5c5;
  background-color: #dedede;
  padding: 2px 10px;
}

.section > .section-content {
  padding: 1rem;
}
