---
import "@site/src/css/custom.css";
import Header from "@site/src/components/header/header.astro";
import Footer from "@site/src/components/footer/footer.astro";
import { baseUrl } from "@typespec/astro-utils/utils/base-url";

export interface Props {
  /** Whether to render the footer @default true */
  footer?: boolean;
}
const { footer = true } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={Astro.site + baseUrl("/img/favicon.svg")} />
    <link rel="og:image" type="image/svg+xml" href={baseUrl("/img/social.svg")} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>typespec.io</title>
    <script src="https://consentdeliveryfd.azurefd.net/mscc/lib/v2/wcp-consent.js" is:inline
    ></script>
    <script src={import.meta.env.BASE_URL + "1ds-init.js"} is:inline></script>
  </head>
  <body class="body">
    <header class="header">
      <Header />
    </header>
    <!-- pt is set according to the height of the header -->
    <main class="main">
      <slot />
    </main>
    {footer && <Footer />}
  </body>
  <style>
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .main {
      flex: 1;
      margin-top: var(--header-height);
      background-color: var(--colorNeutralBackground1);
    }

    .header {
      position: fixed;
      width: 100vw;
      z-index: 500;
    }
    .footer {
      flex: 0 0 auto;
    }
  </style>
</html>
