---
import BaseLayout from "./base-layout.astro";
---

<style>
  .showcase {
    background-color: var(--colorNeutralBackground3);
    --ec-brdWd: 0px;
  }
</style>

<BaseLayout>
  <div class="showcase">
    <slot />
  </div>
</BaseLayout>
