.intro-container {
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100vw 94%;

  display: flex;
  height: 1078px;
  padding: 120px 80px 52px 80px;
  flex-direction: column;
  gap: 56px;
  align-self: stretch;
}

:global(html[data-theme="dark"]) .intro-container {
  background-image: url(/img/bg-top-dark.svg);
}

:global(html[data-theme="light"]) .intro-container {
  background-image: url(/img/bg-top-light.svg);
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.intro-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.intro-subtitle {
  font-size: 20px;
  max-width: 420px;
  text-align: center;
}

.intro-demo {
  display: flex;
  padding: 0px 102px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

@media only screen and (max-width: 728px) {
  .intro-demo {
    display: none;
  }
}

.intro-demo-image {
  width: 800px;
  height: 534px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.overview-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.overview-description {
  max-width: 620px;
  text-align: center;
}

:global(html[data-theme="dark"]) .closing {
  background-image: url(/img/bg-bottom-dark.svg);
}

:global(html[data-theme="light"]) .closing {
  background-image: url(/img/bg-bottom-light.svg);
}

.closing-content {
  display: flex;
  padding: 80px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  margin: auto;
}
