
.intro-container {
  background-repeat: no-repeat;
  width: 100vw;
  background-size: 100vw 94%;

  display: flex;
  height: 1078px;
  padding: 120px 80px 52px 80px;
  flex-direction: column;
  gap: 56px;
  align-self: stretch;
}

:global(html[data-theme="dark"]) .intro-container {
  background-image: url(/img/bg-curve-dark.svg);
}

:global(html[data-theme="light"]) .intro-container {
  background-image: url(/img/bg-curve-light.svg);
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.intro-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.intro-subtitle {
  font-size: 20px;
  width: 420px;
  text-align: center;
}

.intro-demo {
  display: flex;
  padding: 0px 102px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.intro-demo-image {
  width: 800px;
  height: 534px;
  z-index: 100;
  border-radius: 24px;
  background: #292929;
  /* Elevation/Dark/Shadow 64 */
  box-shadow:
    0px 0px 8px 0px rgba(0, 0, 0, 0.4),
    0px 32px 64px 0px rgba(0, 0, 0, 0.48);
}

.sections {
  display: flex;
  padding: 100px 0px 60px 0px;
  flex-direction: column;
  gap: 128px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.overview-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.overview-description {
  width: 620px;
  text-align: center;
}

.overview-points {
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 88px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.feature > img {
  width: 128px;
  height: 128px;
}
