# Catch all
*                                            @markcowl @timotheeguerin @iscai-msft @catalinaperalta @xirzec

# Those files/folders can be modified by anyone
.chronus/changes/
.github/skills/
cspell.yaml

######################
# Emiter Shared
######################
/eng/emitters/                               @JoshLove-msft @iscai-msft @timotheeguerin @l0lawrence @xirzec
/docs/samples/client/                        @lmazuel @JoshLove-msft @iscai-msft @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @tadelesh @msyyc @xirzec @timotheeguerin @qiaozha @MaryGao @l0lawrence

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft @jsquire @joseharriaga
/docs/samples/client/csharp                  @JoshLove-msft @jorgerangel-msft @jsquire @joseharriaga
/website/src/content/docs/docs/emitters/clients/http-client-csharp/ @JoshLove-msft @jorgerangel-msft @jsquire @joseharriaga

######################
# Java
######################
/packages/http-client-java/                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @alzimmermsft @jsquire
/website/src/content/docs/docs/emitters/clients/http-client-java/ @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @alzimmermsft @jsquire
/.github/instructions/http-client-java.instructions.md @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @alzimmermsft @jsquire

######################
# Python
######################
/packages/http-client-python/                                                     @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel @catalinaperalta @ChenxiJiang333 @l0lawrence @kashifkhan @xirzec
/website/src/content/docs/docs/emitters/clients/http-client-python/               @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel @catalinaperalta @ChenxiJiang333 @l0lawrence @kashifkhan @xirzec

######################
# JavaScript
######################
/packages/http-client-js/                    @timotheeguerin @qiaozha @MaryGao @xirzec @markcowl @maorleger

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @timotheeguerin @iscai-msft @catalinaperalta @lmazuel
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @timotheeguerin @iscai-msft @catalinaperalta @lmazuel
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @timotheeguerin @iscai-msft @catalinaperalta @lmazuel
