.illustration-main {
  display: grid;
  grid-template-areas:
    "tsp openapi"
    "swagger-ui openapi"
    "spectral spectral";
  gap: 5px;
  background-color: var(--colorNeutralBackground1);
}

.tsp {
  grid-area: tsp;
}
.openapi {
  grid-area: openapi;
}
.spectral {
  grid-area: spectral;
}
