**/dist/
**/dist-dev/
**/test/output/
**/bin/
**/obj/
**/.vs/
common/temp/
common/scripts/
common/changes/
common/config/rush/pnpm-lock.yaml

# Don't format compiler cadl files.
packages/compiler/test/formatter/**/*.cadl

# That is an example with error and can't be formatted
packages/samples/local-cadl/test.cadl
