.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description {
  color: var(--colorNeutralForeground3);
}

.switch :global(label) {
  padding-left: 0;
}
