@layer reset, starlight, core, fluentui;

@import url("@typespec/astro-utils/css/fluentui.css") layer(fluentui);
@import url("./reset.css") layer(reset);
@import url("./tsp.css") layer(core);

/* Apply font-family to html element outside of layer system to ensure it has highest priority */
html {
  font-family: var(--fontFamilyBase);
}
