* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a {
  color: var(--colorBrandForeground1);
  text-decoration: none;
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

/* In markdown tables starlight doesn't underline text. This ensures that only links with multiple siblings get underlined but not the whole cell being a link */
.sl-markdown-content td a:not(:only-child) {
  text-decoration: underline;
}
