:root,
:root[data-theme="light"],
:root[data-theme="dark"] {
  --header-height: 50px;
}

.DocSearch-Button {
  border-radius: 4px !important;

  border: 1px solid var(--neutral-stroke-transparent-rest, rgba(255, 255, 255, 0)) !important;
  background: var(--colorNeutralBackground1) !important;
}

/* Algolia docsearch tweaks */
.DocSearch-Container {
  z-index: 1000 !important;
}

.sl-markdown-content code {
  overflow-wrap: normal;
}

header.header {
  padding: 0;
  padding-inline-end: unset !important;
}

/* Apply link decorations for inline links, not navigation/tab links */
p a,
li > a {
  text-decoration: underline;
}
nav a,
li:is([role="presentation"]) a {
  text-decoration: none;
}
