.container {
  padding-top: 100px;
  padding-bottom: 80px;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  margin: auto;
}

.content {
  flex: 1 1 50%;
  padding: 80px;
}

.spacer {
  height: 32px;
}

.title {
  max-width: 522px;
}
.subtitle {
  max-width: 522px;
}

.illustration {
  width: 40vw;
  height: 30vw;
  max-height: 100%;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .overview {
    flex-direction: row;
  }
  .illustration {
    width: 50vw;
    height: 40vw;
  }
}

@media only screen and (min-width: 1200px) {
  .overview {
    max-width: 1464px;
    height: 600px;
  }
}

@media only screen and (max-width: 1023px) {
  .illustration {
    display: none;
  }
}
