.footer {
  padding: 80px;
  color: var(--colorNeutralForeground2);
  background-color: var(--colorNeutralBackground3);
  max-width: 100vw;
  overflow: hidden;
}

@media only screen and (max-width: 728px) {
  .footer {
    padding: 40px;
  }
}

.top {
  display: flex;
  gap: 60px;
}

.top-separator {
  flex: 1 1 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 276px;
}

.main-title {
  color: var(--colorNeutralForeground1);
  line-height: 22px;
  font-weight: 600;
}

.separator {
  height: 60px;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 728px) {
  .links {
    display: none;
  }
}

.general-links :global(a) {
  color: var(--colorNeutralForeground2);
  text-decoration: underline;
}
.general-links :global(a:hover) {
  color: var(--colorBrandForeground1);
}

.theme-picker {
  display: flex;
  align-items: flex-start;
  padding: 4px 6px;
  gap: 6px;
  border: 1px solid var(--colorNeutralStroke1);
  border-radius: 70px;
}

.theme-option {
  cursor: pointer;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.theme-option:hover {
  color: var(--colorNeutralForeground1);
  border-radius: 50%;
}

.selected {
  background-color: var(--colorBrandForeground1);
  border-radius: 50%;
}
