.terminal-code {
  background-color: var(--window-color);
  margin: 0;
  height: 100%;
}

[data-theme="light"] .terminal {
  --window-color: var(--colorNeutralBackground2);
}
[data-theme="dark"] .terminal {
  --window-color: var(--colorNeutralBackground4);
}
