* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  overflow: auto;
}

.app_version {
  background: var(--version_bar-color);
  color: var(--text-in-main-color);
  text-align: center;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: #1064a8;
}

a:hover {
  color: var(--main-color);
}

code {
  background-color: rgba(27, 27, 27, 0.05);
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px;
}

pre {
  padding: 16px;
  border-radius: 3px;
  background-color: rgba(27, 27, 27, 0.05);
}
pre > code {
  display: block;
}

ul {
  margin: 0;
}

table {
  border-collapse: collapse;
}

table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
  padding: 6px 13px;
}

table th {
  background-color: var(--color-canvas-subtle);
}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

@media screen and (min-width: 700px) {
  .header-anchor {
    left: -0.8em;
    position: absolute;
    width: 0.8em;
  }
}

@media screen and (min-width: 700px) and (hover: hover) {
  .header-anchor__symbol {
    visibility: hidden;
  }

  .header-anchor__symbol svg {
    width: 16px;
    height: 16px;
  }

  h2:hover .header-anchor__symbol,
  h3:hover .header-anchor__symbol,
  h4:hover .header-anchor__symbol,
  h5:hover .header-anchor__symbol,
  h6:hover .header-anchor__symbol,
  .header-anchor:focus .header-anchor__symbol {
    visibility: visible;
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
