.intro {
  background-color: var(--color-canvas-subtle);
  padding: 2em 0;
}

.intro code {
  background-color: var(--color-canvas-subtle) !important;
}

.intro pre {
  background-color: var(--color-canvas-subtle) !important;
}

.get-started-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started-options li {
  list-style: none;
  margin: 0 20px;
}

.get-started-options li a {
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--text-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.get-started-options li a:hover {
  background-color: var(--main-color);
  color: var(--color-canvas-subtle);
}

.get-started-options li a.play {
  background-color: var(--main-color);
  color: var(--color-canvas-subtle);
}

.get-started-options li a.play:hover {
  background-color: var(--color-canvas-subtle);
  color: var(--text-color);
}

.get-started-options .icon {
  height: 24px;
  width: 24px;
}

.get-started-options .label {
  margin-left: 5px;
}

.major-points {
}
.major-points section {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .major-points {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .major-points section {
    flex: 1 0 26%;
  }
}
