.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background: var(--main-color);
}

.navbar-search_box {
  background: var(--main-color);
}

.navbar-search_box {
  display: block;
  float: right;
}

.navbar-logo {
  margin-right: 2rem;
  margin-left: 10px;
  float: left;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  float: inline-start;
}

.navbar-links p,
.navbar-sign p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-links ul li {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  display: inline;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}
