.navbar {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: var(--main-color);
}

.navbar-search_box {
  background: var(--main-color);
}

.navbar-search_box {
  display: block;
  float: right;
}

.navbar-logo {
  margin-right: 2rem;
  margin-left: 10px;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  float: inline-start;
}

.navbar-links ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar-links ul li {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  display: inline;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.navbar-links a.icon {
  display: block;
  height: 24px;
}
