:root {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --main-color: #42855b;
  --text-color: #444;
  --text-in-main-color: #ffffff;
  --tab-inner-color: #095a09;
  --version_bar-color: #013301;
}
