{
  "openapi": "3.0.0",
  "info": {
    "title": "(title)",
    "version": "0000-00-00"
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "tags": [],
  "paths": {
    "/ops/{subscriptionId}": {
      "get": {
        "operationId": "Ops_SomeOp",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroup",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OtherModel": {
        "type": "object",
        "properties": {
          "num": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "num"
        ]
      }
    }
  }
}
