{
  "openapi": "3.0.0",
  "info": {
    "title": "Pet Store Service",
    "version": "2021-03-25"
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "tags": [],
  "paths": {
    "/pets/{petId}": {
      "delete": {
        "operationId": "Pets_delete",
        "summary": "Delete a pet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PetId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-cadl-name": "(anonymous model)"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "Pets_read",
        "summary": "Returns a pet. Supports eTags.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PetId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "304": {
            "description": "Not modified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pets": {
      "get": {
        "operationId": "Pets_list",
        "summary": "<blink>List pets.</blink>",
        "parameters": [
          {
            "name": "nextLink",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePage_Pet"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Pets_create",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pet"
              }
            }
          }
        }
      }
    },
    "/pets/{petId}/toys": {
      "get": {
        "operationId": "ListPetToysResponse_list",
        "parameters": [
          {
            "name": "petId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameFilter",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePage_Toy"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "description": "Error",
        "required": [
          "code",
          "message"
        ]
      },
      "ResponsePage_Pet": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pet"
            },
            "x-cadl-name": "PetStore.Pet[]"
          },
          "nextLink": {
            "type": "string"
          }
        },
        "required": [
          "items"
        ]
      },
      "Pet": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "age": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 20
          }
        },
        "required": [
          "name",
          "age"
        ]
      },
      "ResponsePage_Toy": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Toy"
            },
            "x-cadl-name": "PetStore.Toy[]"
          },
          "nextLink": {
            "type": "string"
          }
        },
        "required": [
          "items"
        ]
      },
      "Toy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "petId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "petId",
          "name"
        ]
      }
    }
  }
}
