.item {
  width: 100%;
  text-decoration: none;
  border-radius: 14px;
  background-color: var(--colorNeutralBackground1);
  padding: 20px;
  display: flex;
  gap: 12px;
  border: 2px solid transparent;
}

.item:hover {
  text-decoration: none;
  border-color: var(--colorBrandForeground1);
}

.item:active {
  text-decoration: none;
  background-color: var(--colorNeutralBackground2);
}

.item-image {
  width: 52px;
  height: 52px;
  max-width: 64px;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
