.items {
  position: relative;
  z-index: 0;
}

.item {
  background-color: var(--colorNeutralBackground1);
  box-shadow: var(--shadow4);
  box-sizing: border-box;
  left: 0;
  transition: left 0.2s linear;
  width: calc(100% - 100px);
}

.item:not(.item-selected) {
  position: absolute;
  top: 10px;
  left: 96px;
  max-height: calc(100% - 20px);
  cursor: pointer;
}

.item:not(.item-selected):hover {
  outline: 4px solid var(--colorBrandForeground1);
}

.item-selected {
  position: relative;
  z-index: 100;
}

.item :global(img) {
  display: block;
}
