.codeblock-container {
  margin: 0;
  padding: 5px 10px;
}

.codeblock-title {
  border-bottom: 1px solid var(--colorNeutralStroke1);
  font-size: 95%;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.codeblock {
  margin: 0;
  padding: 5px 10px;
}
