.items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  gap: 12px;
}

.item-image {
  width: 64px;
  height: 64px;
  max-width: 64px;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
