.section {
  display: flex;
  gap: 170px;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .text-left {
    flex-direction: row;
  }

  .text-right {
    flex-direction: row-reverse;
  }
}

.info-container {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  width: 520px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}

.info-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-vertical-spacing-xxl, 24px);
  align-self: stretch;
}

.info-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--vertical-xl, 20px);
  align-self: stretch;
}

.info-description {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.illustration {
  width: 80vw;
  padding: 0;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  .illustration {
    width: 50vw;
  }
}

.item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  gap: 12px;
}

.item-image {
  width: 52px;
  height: 52px;
  max-width: 52px;
}

.item-content {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  gap: 5px;
}
