---
import Default from "@astrojs/starlight/components/PageFrame.astro";
import Footer from "../footer/footer.astro";
---

<Default {...Astro.props}>
  <slot name="header" slot="header" /><slot name="sidebar" slot="sidebar" /><div>
    <slot />
    <div class="footer-wrapper">
      <div class="footer">
        <Footer />
      </div>
    </div>
  </div>
</Default>

<style>
  .footer-wrapper {
    position: relative;
  }
  .footer {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
</style>
