.editor-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.panel-tabs-container {
  background-color: var(--colorNeutralBackground3);
}

.panel-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
