.feature-group {
  display: flex;
  align-items: stretch;
  align-self: center;
  flex-direction: column;
  padding: 0 80px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image {
  width: 64px;
  height: 64px;
}

@media only screen and (min-width: 1200px) {
  .feature-card {
    width: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-group {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    align-items: baseline;
  }

  .content {
    align-items: baseline;
  }
}
