.card {
  width: 723px;
  height: 542px;
  position: relative;
}

.terminal {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 420px;
  height: 320px;
}

.ide {
  position: absolute;
  top: 226px;
  left: 183px;
}
