.feature-group {
  display: flex;
  align-items: stretch;
  align-self: center;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media only screen and (min-width: 1200px) {
  .feature-group {
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
    padding: 0;
  }

  .feature-card {
    width: 350px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .feature {
    flex-direction: row;
  }

  .content {
    align-items: baseline;
  }
}
