.tryit-codeblock-container {
  position: relative;
}

.tryit-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorBrandBackground);
  padding: 0.4rem;
  text-decoration: none;
  color: var(--colorNeutralForegroundOnBrand);
}

.tryit-container:hover {
  text-decoration: none;
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackgroundHover);
}
