.color-brand {
  color: var(--colorBrandForeground1);
}
.color-secondary {
  color: var(--colorNeutralForeground3);
}
.color-warning {
  color: var(--colorStatusWarningForeground1);
}
.color-danger {
  color: var(--colorStatusDangerForeground1);
}

.mod-underline {
  text-decoration: underline;
}
