---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  title?: string;
  className?: string;
  hideHeader?: boolean;
  children?: React.ReactNode;
}

const { title, className, hideHeader, children, class: cls, ...others } = Astro.props;
---

<style>
  .window {
    border-radius: 12px;
    border: 1px solid var(--colorNeutralStrokeOnBrand);
    overflow: hidden;
  }

  .header {
    background-color: var(--window-color, var(--colorNeutralBackground4));
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 16px;
  }

  .header-divider {
    height: 1px;
    align-self: stretch;
    background: radial-gradient(circle, var(--colorNeutralStroke2) 0%, rgba(82, 82, 82, 0) 80%);
  }

  .header-right-spacer {
    width: 52px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .btn-close,
  .btn-minify,
  .btn-expand {
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }

  .btn-close {
    background: #ec6a5e;
  }
  .btn-minify {
    background: #f4bf4f;
  }

  .btn-expand {
    background: #62c554;
  }
</style>

<div class:list={["window", cls]} {...others}>
  {
    hideHeader ? (
      ""
    ) : (
      <>
        <div class="header">
          <div class="actions">
            <div class="btn-close" />
            <div class="btn-minify" />
            <div class="btn-expand" />
          </div>
          <div class="header-title">{title}</div>
          <div class="header-right-spacer" />
        </div>
        <div class="header-divider" />
      </>
    )
  }
  <slot />
</div>
