.illustration :global(.tabs-container) {
  margin-bottom: 0;
}

.illustration :global(.tabs-container) :global(.margin-top--md) {
  margin-top: 0 !important;
}

.illustration :global(img) {
  display: block;
}
