.theme-picker {
  display: flex;
  align-items: flex-start;
  padding: 4px 6px;
  gap: 6px;
  border: 1px solid var(--colorNeutralStroke1);
  border-radius: 70px;
}

.theme-option {
  cursor: pointer;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  color: var(--colorNeutralForeground2);
}

.theme-option:hover {
  color: var(--colorNeutralForeground1);
  border-radius: 50%;
}

.selected {
  background-color: var(--colorBrandForeground1);
  border-radius: 50%;
}

[data-theme="light"] .selected {
  color: var(--colorNeutralStroke1);
}
.selected {
  background-color: var(--colorBrandForeground1);
  border-radius: 50%;
}
