{
  "openapi": "3.0.0",
  "info": {
    "title": "(title)",
    "version": "0000-00-00"
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "tags": [],
  "paths": {
    "/foo/DefaultDescriptions": {
      "get": {
        "operationId": "foo_WithDefaultDescriptions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resp"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/foo/ModelDocDescriptions": {
      "get": {
        "operationId": "foo_WithModelDocDescriptions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response from @doc",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespWithDocs"
                }
              }
            }
          },
          "default": {
            "description": "Error from @doc",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithDocs"
                }
              }
            }
          }
        }
      }
    },
    "/foo/NotFoundWithDocs": {
      "get": {
        "operationId": "foo_WithStatusCodeDocs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resp"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundWithDocsResp"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/foo/NotFoundDefaultDocs": {
      "get": {
        "operationId": "foo_WithDefaultDescNotFound",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response from @doc",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespWithDocs"
                }
              }
            }
          },
          "404": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResp"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Resp": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "value"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "code"
        ]
      },
      "RespWithDocs": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Response from @doc",
        "required": [
          "value"
        ]
      },
      "ErrorWithDocs": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Error from @doc",
        "required": [
          "code"
        ]
      },
      "NotFoundWithDocsResp": {
        "type": "object",
        "properties": {
          "details": {
            "type": "string"
          }
        },
        "description": "Not found",
        "required": [
          "details"
        ]
      },
      "NotFoundResp": {
        "type": "object",
        "properties": {
          "details": {
            "type": "string"
          }
        },
        "required": [
          "details"
        ]
      }
    }
  }
}
