.mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.literal {
  color: var(--colorPaletteLightGreenForeground2);
}

.type-kind {
  color: var(--colorPaletteBerryForeground2);
}
.type-kind-tag {
  color: white;
  background-color: var(--colorPaletteBerryForeground2);
  padding: 1px 5px;
  border-radius: 2px;
}
