.type-graph * {
  box-sizing: border-box;
}

.tree-navigation-pane {
  height: 100%;
  overflow-y: auto;
}

.view-pane {
  padding: 10px;
  overflow-y: auto;
}

.current-path {
  margin-bottom: 10px;
}
