name: CI

on:
  pull_request:
    branches:
      - main
      - release/*
    paths-ignore:
      - "website/**"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 ## Needed for Changesets to find `main` branch

      - uses: ./.github/actions/setup

      - name: Install dependencies
        run: npx tsx eng/tsp-core/tpm/cli.ts install --since origin/main

      - name: Build
        run: npx tsx eng/tsp-core/tpm/cli.ts build --since origin/main

      - name: Bump version to prerelease targets
        run: pnpm chronus version --prerelease "{nextVersion}-pr.${{ github.event.pull_request.number }}.${{ github.run_number }}"

      - run: pnpm tsx eng/tsp-core/pkg-pr-new.ts
