name: Deploy TypeSpec Website to github pages

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches:
      - main
      - switch-astro

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup

      - name: Install dependencies
        run: pnpm install

      - name: Install browsers
        run: pnpm exec playwright install
        working-directory: packages/website-astro

      # - name: Build
      #   run: pnpm --filter "@typespec/website..." run build
      #   env:
      #     # Only when deploying to microsoft.github.io/typespec. For typespec.io use the default value.
      #     # TYPESPEC_WEBSITE_BASE_PATH: "/typespec/"
      #     NODE_OPTIONS: "--max_old_space_size=4096"

      # - name: Upload artifact
      #   uses: actions/upload-pages-artifact@v1
      #   with:
      #     path: ./packages/website/build

      - name: Build
        run: pnpm --filter "@typespec/website-astro..." run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./packages/website-astro/dist

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
