.inspect-type {
  font-size: 12px;
}
.inspect-type ul {
  padding: 0 0 0 16px;
  margin: 0;
}

.inspect-type > ul {
  padding: 0;
}

.inspect-type li {
  margin: 0;
  list-style: none;
  position: relative;
}

.type-ui {
  display: inline;
}
.type-ui-header {
  cursor: pointer;
  display: inline;
}

.type-ui-header:hover {
  text-decoration: underline;
}

.type-name {
  color: var(--colorNeutralForeground2);
}

.property {
  color: var(--colorPaletteMarigoldForeground2);
}

.named-type-ref {
  color: var(--colorBrandForeground1);
  text-decoration: none;
  cursor: pointer;
}

.named-type-ref:hover {
  text-decoration: underline;
}

.js-value {
  color: var(--colorPaletteDarkOrangeForeground1);
}
