.table {
  table-layout: auto;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
}

.table thead tr,
.table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--colorNeutralStroke1);
}

.key {
  vertical-align: top;
  color: var(--colorNeutralForeground2);
}

.data {
}

.tsp-type-ref {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.tsp-type-logo {
  display: inline-block;
  font-size: 7px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: var(--colorPaletteBerryForeground2);
  color: white;
}
